@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: roboto,Arial,sans-serif;
  background-color: #f1f1f1;
}

header#bem-vindo {
  width: 94%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 25px;
  background: #fff;
  border-radius: 7px;
  color: black;
}

header#bem-vindo div#espaco {
  padding: 5px;
}

header#bem-vindo p {
  font: 1.00rem/1.25rem Nunito, sans-serif;
  text-indent: 5px;
  padding: 2px;
}

header#bem-vindo p#bemv {
  color: rgb(243, 46, 89);
  font: 1.25rem/1.25rem Nunito, sans-serif;
  font-weight: bold;
}

header#bem-vindo span {
  background-color: lightgray;
}

header#bem-vindo a {
  color: rgb(243, 46, 89);
}

section.cartegorias {
  width: 94%;
  margin: auto;
  background: #fff;
  border-radius: 7px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

section.cartegorias p {
  color: rgb(243, 46, 89);
  font: 1.15rem/1.25rem Nunito, sans-serif;
  font-weight: bold;
  text-indent: 5px;
  padding: 10px;
}

section.cartegorias a {
  color: rgb(243, 46, 89);
}

section.cartegorias img {
  padding: 10px;
  border-radius: 7px;
}

section.cartegorias img:hover {
  transition: 0.3s;
  width: 135px;
  height: 175px;
}
