* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: roboto,Arial,sans-serif;
  background-color: #f1f1f1;
}

header#cabeca {
  position: relative;
}

div#player {
  width: 97%;
  margin: auto;
  margin-bottom: 10px;
  background: #fff;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

div#player h1 {
  font: 1.25rem/1.25rem Nunito, sans-serif;
  font-weight: 600;
  padding: 15px;
}

div#player iframe {
  width: 95vw;
  height: 56.25vw;
  max-height: 100vh;
  max-width: 177.78vh;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border: none;
}

div#paep {
  text-align: center;
}

div#paep ul {
  list-style: none;
}

div#paep li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  background: #1c1c1c;
  font: 1.00rem/1.25rem Nunito, sans-serif;
  color: white;
  border-radius: 10px;
}
